* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

.wapper {
    width: 430px;
    height: 500px;
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    border-radius: 0.5rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.6s ease-in-out;
}

.wapper-heading {
    text-align: center;
    width: 430px;
    height: 100px;
}

.wapper-heading h1 {
    line-height: 100px;
    font-size: 35px;
}

form a {
    text-decoration: none;

}

.footer {
    text-align: center;
}

.input__field {
    text-align: center;
    padding: 10px;


}

.input__field input:focus {
    border: 1px solid rgb(18, 134, 170);
}

.input__field input {
    margin-bottom: 10px;

    height: 45px;
    width: 100%;
    border: 1px solid #24e27a;
    outline: none;
    border-radius: 10px;

}

#username {}

#email {}

#password {}

.footer button {
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgb(17, 247, 208);
    transition: all 0.2s linear;
    margin-left: 87px;
    margin-top: 40px;
}

.footer a {
    float: right;
    margin-right: 20px;
    color:black;
}

.footer a:hover {
    color: red;
}

.btn:hover {
    transform: scale(1.1);
    color: rgb(243, 166, 22);
}